.card1 {
    border-radius: 20px;
  }

  

  .ant-card-body {
     padding: 9px !important; 
    
  }
  .cardImg {
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    background-color: #d1dcf4;
    border-radius: 5px;
  }
  
  .cardTitile {
    color: #002f68;
    font-weight: 700;
    font-style: bold;
  }
  .cardPara {
    font-weight: 400;
    font-size: 12px;
    color: #5c83b1;
  }
  .cardSpan {
    font-size: 14px;
    color: #5c83b1;
    font-weight: 400;
  }
  .gutter-box {
    padding: 0px 0;
    background: #00a0e9;
  }
  .card2 {
    font-size: 14px;
    color: #5c83b1;
    font-weight: 400;

  }



  .btn4 {   
 font-family: 'Montserrat';
font-style: normal;
text-align: center;
color: white; 
background-color: #2B78D4; 
border-radius: 8px;
width: 120px;
position: relative;

bottom: -0.75rem;
/* bottom: -11rem; */

}
.btn1 {
font-weight: 600;
font-size: 18px;
line-height: 22px;
padding: 15px;

}
 .btn2 
 {
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    float: right;
    bottom: 0px;
    margin-top:100px;
   
    width: 100px; 
    /* padding: 10px;  */
   

 }
 .bright {
    /* position: absolute; */ 
   
    /* right:20px;  */
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    padding: 15px;  
    float: right;
    bottom: 0px;
    /* margin-top:100px;  */

 }

 .ant-modal-content {
  /* max-height: 700px; */
  height: 520px ;
  width: 630px ;
}

.text3 {
  height: 150px;
  border: none;
  border-bottom:1px solid  #00a0e9;
  font: 'Montserrat' ;
  font-weight: 400; 
  font-size: 15px; 
  width: "100%";
   resize: "none";
   
  /* display: inline;
  overflow: auto; */
  /* border: none; */
}

.text2 {
  border: none;  
  border-bottom : 1px solid  #00a0e9;
  font: 'Montserrat' ;
   font-weight: 700; 
  font-size: 18px; 

}

/* .popupfoot1 {
  margin-top: 50px ! important; 
float: right!important; 
  width:100px;
}
.savebt1
 {
  
  width: 150px;
height: 40px;
background: #2B78D4;
border-radius: 8px;
  margin-top: 55px ! important; 
 /* float: right!important;  */
   /* margin-left: 250px !important; 
   margin-right: 20px;
 
}
.cancelbt1 {
  width:150px;
  height:40px;
   margin-top: 55px ! important; 
  border: 1px solid #2B78D4;
border-radius: 8px;
   color:#00a0e9;

} */

  
